.body{
	margin: 0;
	padding: 0;
	background-color: #bbbbbb;
}
.banner{
	width: 450px;
	height: 200px;
	border: 1px solid #bbbbbb;
	margin: 100px auto;
	padding: 30px 20px;
	box-sizing: border-box;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
}

.banner__title{
	color: #4682B4;
	font-family: "Arial", Calibri, sans-serif;
	font-size: 22px;
	transition: 1s;
}
.banner__text{
	font-family: "Arial", Calibri, sans-serif;
	font-size: 14px;
	transition: 1s;
	line-height: 1.5;
}
.banner__button{
	display: inline-block;
	width: 150px;
	height: 30px;
	background-color: #FFD700;
	text-decoration: none;
	color: #000000;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
	border-bottom: 2px solid #FF8C00;
	transition: 0.3s;
}
.banner__button:hover{
	background-color: #FDEB22;
}
/*.banner::after{
	content: '';
	width: 80px;
	height: 80px;
	background: url("../image/comment.svg");
	display: inline-block;
	position: absolute;
	right: 20px;
	bottom: 10px;
}*/
.banner__comments-svg{
	width: 80px;
	height: 80px;
	display: inline-block;
	position: absolute;
	right: 11px;
	bottom: -10px;
	transform: rotate(35grad);
}
.banner__hover{
	transform: scale(0);
	position: absolute;
	bottom: -500px;
	right: -500px;
	width: 1000px;
	height: 1000px;
	background-color: #00BFFF;
	border-radius: 50%;
	transition: 1s;
	z-index: -1;
}
.banner:hover > .banner__hover{
	transform: scale(1);
}
.banner:hover > .banner__title{
	color: #ffffff;
}
.banner:hover{
	color: #ffffff;
}
.banner__comments-svg svg path{
	transition: 1s;
}
.banner:hover > .banner__comments-svg svg path.banner__massage-1{
	fill: #ffffff!important;
}
.banner:hover > .banner__comments-svg svg path.banner__massage-2{
	fill: #00BFFF!important;
	stroke: #ffffff!important;
}

.banner-2{
	width: 450px;
	height: 200px;
	margin: 100px auto;
	box-sizing: border-box;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
}
.banner-2__screen{
	border-radius: 5px;
	width: 100%;
	height: 100%;
	background: url("../image/cosmos.jpg") right no-repeat;
	background-size: cover;
	transition: 2s;
}
.banner-2:hover .banner-2__screen{
	transform: scale(1.3);
}
.banner-2__text{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	color: #ffffff;
	font-size: 1px;
	background-color: rgba(0, 0, 0, 0.4);
	text-align: center;
	padding-top: 80px;
	opacity: 0;
	transition: 1.5s;
}
.banner-2:hover .banner-2__text{
	opacity: 1;
	font-size: 40px;
}
.banner-shadow{
	width: 450px;
	height: 200px;
	margin: 100px auto;
	box-sizing: border-box;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid gray;
	background-color: #bbbbbb;
}
.banner-shadow__text{
	width: 100%;
	height: 100%;
	position: absolute;
	font-size: 40px;
	text-align: center;
	padding-top: 80px;
	transition: 1s;
	font-family: Calibri, Arial, sans-serif;
	text-shadow: 7px 5px 2px rgba(0, 0, 0, .5);
}
.banner-shadow_sun{
	width: 38px;
	height: 38px;
	border-radius: 50%;
	background-color: gold;
	position: absolute;
	top: 10px;
	left: 100px;
	transition: 1s;
}
.banner-shadow:hover .banner-shadow__text{
	text-shadow: -7px 5px 2px rgba(0, 0, 0, .5);
}
.banner-shadow:hover .banner-shadow_sun{
	left: 300px;
}
